In [1]:
import pandas as pd
import numpy as np
import re

In [13]:
data = pd.read_csv('personnes.csv')
print(data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays taille
0         France  1.49m
1            NaN  1.67m
2  Côte d'ivoire  153cm
3         France  1.65m
4     Madagascar  1.34m
5             24  3.45m
6          Bénin  1.45m

In [3]:
def lower_case(value): 
    print('Voici la valeur que je traite:', value)
    return value.lower()

data['prenom_min'] = data['prenom'].apply(lower_case)

Voici la valeur que je traite: Leila
Voici la valeur que je traite: Samuel
Voici la valeur que je traite: Radia
Voici la valeur que je traite: Marc
Voici la valeur que je traite: Heri
Voici la valeur que je traite: Hanna
Voici la valeur que je traite: samuël

In [4]:
del data['prenom_min']

In [5]:
VALID_COUNTRIES = ['France', "Côte d'ivoire", 'Madagascar', 'Bénin', 'Allemagne', 'USA']

In [6]:
def check_country(country):
    if country not in VALID_COUNTRIES:
        print(' - "{}" n\'est pas un pays valide, nous le supprimons.'.format(country))
        return np.NaN
    return country

In [7]:
def first(string):
    parts = string.split(',')
    first_part = parts[0]
    if len(parts) >= 2:
        print(' - Il y a plusieurs parties dans "{}", ne gardons que {}.'\
            .format(parts,first_part))  
    return first_part

In [8]:
def convert_height(height):
    found = re.search('\d\.\d{2}m', height)
    if found is None:
        print('{} n\'est pas au bon format. Il sera ignoré.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # on enlève le dernier caractère, qui est 'm'
        return float(value)

def fill_height(height, replacement):
    if pd.isnull(height):
        print('Imputation par la moyenne : {}'.format(replacement))
        return replacement
    return height

In [9]:
data['email'] = data['email'].apply(first)
data['pays'] = data['pays'].apply(check_country)
data['taille'] = [convert_height(t) for t in data['taille']]
data['taille'] = [t if t<3 else np.NaN for t in data['taille']]

mean_height = data['taille'].mean()


data['date_naissance'] = pd.to_datetime(data['date_naissance'],format='%d/%m/%Y', 
                                        errors='coerce')

 - Il y a plusieures parties dans "['marco23@example.com', ' mc23@supermail.eu']", ne gardons que marco23@example.com.
 - "nan" n'est pas un pays valide, nous le supprimons.
 - "24" n'est pas un pays valide, nous le supprimons.
153cm n'est pas au bon format. Il sera ignoré.
Imputation par la moyenne : 1.52
Imputation par la moyenne : 1.52

In [10]:
data

   prenom                     email date_naissance           pays  taille
0   Leila         leila@example.com     1990-01-23         France    1.49
1  Samuel    samuel_329@example.com     2001-09-20            NaN    1.67
2   Radia  choupipoune@supermail.eu            NaT  Côte d'ivoire    1.52
3    Marc       marco23@example.com     1978-02-10         France    1.65
4    Heri   helloworld@supermail.eu     2008-03-05     Madagascar    1.34
5   Hanna    hanna2019@supermail.eu     1970-01-01            NaN    1.52
6  samuël    samuel_329@example.com            NaT          Bénin    1.45