In [363]:
data = read.csv("personnes.csv")
print(data)

  prenom                                  email date_naissance          pays
1  Leila                      leila@example.com     23/01/1990        France
2 Samuel                 samuel_329@example.com     20/09/2001
3  Radia               choupipoune@supermail.eu  12 sept. 1984 Côte d'ivoire
4   Marc marco23@example.com, mc23@supermail.eu     10/02/1978        France
5   Heri                helloworld@supermail.eu     05/03/2008    Madagascar
6  Hanna                 hanna2019@supermail.eu     01/01/1970            24
7 samuël                 samuel_329@example.com                        Bénin
  taille
1  1.49m
2  1.67m
3  153cm
4  1.65m
5  1.34m
6  3.45m
7  1.45m

In [364]:
lower_case = function(value){
    print(paste('Voici la valeur que je traite:', value))
    return(tolower(value))
}

data['prenom_min'] = apply(data['prenom'],1,lower_case)

[1] "Voici la valeur que je traite: Leila"
[1] "Voici la valeur que je traite: Samuel"
[1] "Voici la valeur que je traite: Radia"
[1] "Voici la valeur que je traite: Marc"
[1] "Voici la valeur que je traite: Heri"
[1] "Voici la valeur que je traite: Hanna"
[1] "Voici la valeur que je traite: samuël"

In [365]:
data['prenom_min'] = NULL

In [366]:
VALID_COUNTRIES = c('France', "Côte d'ivoire", 'Madagascar', 'Bénin', 'Allemagne', 'USA')

In [367]:
check_country = function(country){
    if(! country %in% VALID_COUNTRIES){
        print(sprintf(' - "%s" n\'est pas un pays valide, nous le supprimons.',country))
        return(NA)
    }
    return (country)
}

In [368]:
first = function(str){
    str = str[[1]]
    parts = strsplit(str,',')[[1]]
    first_part = parts[1]
    if(length(parts) >= 2)
        print(sprintf(' - Il y a plusieurs parties dans "%s", ne gardons que %s.',paste(parts,collapse=""),first_part))  
    return(first_part)
}

In [369]:
convert_height = function(height){
    found = regmatches(height, regexpr("[[:digit:]]\\.[[:digit:]]{2}m", height)) 
    if(length(found)==0){
        print(paste(height, ' n\'est pas au bon format. Il sera ignoré.'))
        return(NA)
    }else{
        value = substring(height,1,nchar(height)-1) # on enlève le dernier caractère, qui est 'm'
        return(as.numeric(value))
    }
}

fill_height = function(height, replacement){
    if(is.na(height)){
        print(paste('Imputation par la moyenne :', replacement))
        return(replacement)
    }
    return(height)
}

In [370]:
data['email'] = apply(data['email'], 1, first)
data['pays'] = apply(data['pays'], 1, check_country)
data['taille'] = apply(data['taille'],1,convert_height) 
data['taille'] = apply(data['taille'], 1, function(t) if(!is.na(t) & t<3){t}else{NA})

mean_height = mean(as.numeric(data$taille), na.rm=TRUE)
for(i in 1:nrow(data))
    data[i,'taille'] = fill_height(data[i,'taille'], mean_height)
data["date_naissance"] = as.Date(data$date_naissance , "%d/%m/%Y")

[1] " - Il y a plusieurs parties dans \"marco23@example.com mc23@supermail.eu\", ne gardons que marco23@example.com."
[1] " - \"\" n'est pas un pays valide, nous le supprimons."
[1] " - \"24\" n'est pas un pays valide, nous le supprimons."
[1] "153cm  n'est pas au bon format. Il sera ignoré."
[1] "Imputation par la moyenne : 1.52"
[1] "Imputation par la moyenne : 1.52"

In [371]:
data

  prenom email                    date_naissance pays          taille
1 Leila  leila@example.com        1990-01-23     France        1.49
2 Samuel samuel_329@example.com   2001-09-20     NA            1.67
3 Radia  choupipoune@supermail.eu <NA>           Côte d'ivoire 1.52
4 Marc   marco23@example.com      1978-02-10     France        1.65
5 Heri   helloworld@supermail.eu  2008-03-05     Madagascar    1.34
6 Hanna  hanna2019@supermail.eu   1970-01-01     NA            1.52
7 samuël samuel_329@example.com   <NA>           Bénin         1.45